<section *ngIf="login == null">
  <h3>Login to Github</h3>
  <hr/>
  <div class="row">
    <form [formGroup]="authForm" (ngSubmit)="authenticate(authForm)">
      <div class="col-md-10">
        <div class="form-group">
          <input formControlName="token" type="email" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="Token">
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" [disabled]="authForm.invalid" class="btn btn-primary">Authenticate</button>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="errorState">
    <div class="col-md-12">
      <span class="error">Invalid token. Try again!</span>
    </div>
  </div>
</section>


<section *ngIf="login != null">

  <div class="row">
    <div class="col-md-10">
      <h3>Github user: {{login}}</h3>

    </div>
    <div class="col-md-2">
      <button type="button" [disabled]="authForm.invalid" (click)="logOut()" class="btn btn-primary">Logout</button>
    </div>
  </div>
  <hr/>


</section>
