pre {
  background: green;
}


a {
  cursor: pointer;
}




.search-box {
  float:left;
  width:270px;
}

.search-button {
  float: right;
  width: 90px;
}

.search-panel {
  margin-bottom: 25px;
}

.info-panel {
  margin-bottom: 25px;
}

.info-panel-organization {
  color:green;
}
